
<h1> Header</h1>
<div class="container">
  <h1>Contenido</h1>
  <div class="row">
    <div class="col-sm-4" style="background-color: aqua">
      <ul>
        <li>
          <a [routerLink]="['/inicio', 'hola', 'como', variableEstas]">
            <h3>Inicio</h3>
          </a>
        </li>
        <li>
          <a routerLink="/FAQ">
            <h3>FAQ</h3>
          </a>
        </li>
      </ul>
      <button class="btn btn-info" (click)="irAInfo()">
        Info
      </button>
      <button class="btn btn-succes" (click)="irAFAQ()">
        FAQ
      </button>
    </div>
    <div class="col-sm-8" style="background-color: coral">
      Hijo
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<h1>Footer</h1>

